
.top_message{
  text-align: center;
  color: #DC143C;
  opacity: 80%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.message_form{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
.message_form textarea{
  width: 50%;
  height: 50px;
  background-color: #FFFAFA;
  box-shadow: 0 2px 6px #c1ced7;
}

.new_bottun{
  background-color: #FA8072;
  opacity: 70%;
  font-weight: bold;
  width: 80px;
  height:40px;
}

.new_bottun:hover{
  background-color:  #DC143C;
  opacity: 60%;
  font-weight: bold;
}

.from_message{
  text-align: center;
  color: #DC143C;
  opacity: 80%;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 20px;
}
.message_index{
  padding: 20px 30px;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
  background-color: #FFFAFA;
}
.user_left img{
  float:left;
  padding-right: 20px;

}
.user_name{
  color: #DC143C;
  font-weight: bold;
}

.user_message{
  padding-top: 5px;
}
